/*
width: 320px;
#columns : 23;
Column width: 12px;
gutter = 2px;
*/
.grid_1 {
  width: 3.75%;
}
.grid_2 {
  width: 8.125%;
}
.grid_3 {
  width: 12.5%;
}
.grid_4 {
  width: 16.875%;
}
.grid_5 {
  width: 21.25%;
}
.grid_6 {
  width: 25.625%;
}
.grid_7 {
  width: 30%;
}
.grid_8 {
  width: 34.375%;
}
.grid_9 {
  width: 38.75%;
}
.grid_10 {
  width: 43.125%;
}
.grid_11 {
  width: 47.5%;
}
.grid_12 {
  width: 51.875%;
}
.grid_13 {
  width: 56.25%;
}
.grid_14 {
  width: 60.625%;
}
.grid_15 {
  width: 65%;
}
.grid_16 {
  width: 69.375%;
}
.grid_17 {
  width: 73.75%;
}
.grid_18 {
  width: 78.125%;
}
.grid_19 {
  width: 82.5%;
}
.grid_20 {
  width: 86.875%;
}
.grid_21 {
  width: 91.25%;
}
.grid_22 {
  width: 95.625%;
}
.grid_23 {
  width: 100%;
}
.grid_1 .grid_2 .grid_3 .grid_4 .grid_5 .grid_6 .grid_7 .grid_8 .grid_9 .grid_10 .grid_11 .grid_12 .grid_13 .grid_14 .grid_15 .grid_16 .grid_17 .grid_18 .grid_19 .grid_20 .grid_21 .grid_22 .grid_23 {
  margin: 0 0.625% 0.625% 0;
  float: left;
  display: block;
}
.alpha {
  margin-left: 0;
}
.omega {
  margin-right: 0;
}
#container {
  width: 100%;
  padding-top: 55px;
  /*max-width: 768px;*/

  margin: 0 auto;
  height: 100%;
  text-align: left;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
* html .clearfix,
*:first-child + html .clearfix {
  zoom: 1;
}
