@charset "UTF-8";
#wrapper {
  width: 100%;
  height: auto;
  /* 2048px */

  background-color: #fcf8e3;
}
#signin {
  margin: auto;
  width: 300px;
  padding-top: 45px;
}
#signin a {
  color: white;
  font-size: 24px;
  line-height: 80px;
}
#signin img {
  padding-bottom: 20px;
  width: 300px;
}
#signin btn {
 height: 10px;
 width: auto;
 vertical-align: middle;
}
