@charset "UTF-8";
#wrapper {
  width: 100%;
  height: 2048px;
  background-color: #fcf8e3;
}
#signin {
  margin: auto;
  width: 300px;
  padding-top: 50px;
}
#signin a {
  color: white;
}
#signin img {
  padding-bottom: 20px;
  width: 300px;
}
/* media queries */
/*  iPhone5, iPhone 4S, S3 --------------------------------  */
@media screen and (max-width: 768px) {
  #signin {
    margin: auto;
    width: 320px;
    padding-top: 120px;
  }
  #signin a {
    color: white;
    font-size: 24px;
    line-height: 80px;
  }
  #signin img {
    padding-bottom: 20px;
    width: 320px;
  }
}
/*  iPad 3 1538x2048 --------------------------------  */
@media screen and (min-width: 1536px) {
  #signin {
    margin: auto;
    width: 320px;
    padding-top: 120px;
  }
  #signin a {
    color: white;
    font-size: 24px;
    line-height: 80px;
  }
  #signin img {
    padding-bottom: 20px;
    width: 320px;
  }
}
