@charset "UTF-8";
/* gold #9a8a3d */
/* maroon, #454545, #630215, #381212 OR active #f22626 */
/* silver */
/* light brown */
/* dark brown */
/* light blue #CFF   */
/*@FeedBgC: ;*//* cream #fcf8e3, OR Grey #eee #fffefe #e7e7e7 #FFFAF7 */
/* Gold OR Light Grey #d2d4dc */
/*@EmoteBorderC: #d41111;
@TopicBorderC: #d41111;*/
.gradient {
  background-image: #d41111;
  background-image: -webkit-linear-gradient(top, #520000 0%, #740000 2%, #a40000 100%);
  background-image: -moz-linear-gradient(top, #520000 0%, #740000 2%, #a40000 100%);
  background-image: -o-linear-gradient(top, #520000 0%, #740000 2%, #a40000 100%);
  background-image: linear-gradient(top, #520000 0%, #740000 2%, #a40000 100%);
}
.bottom_shadow {
  -webkit-box-shadow: 0 1px 3px #221919;
  -ms-box-shadow: 0 1px 3px #221919;
  box-shadow: 0 1px 3px #221919;
}
/*
.curvedbox{
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}

.inset{
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
*/
a:active,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}
#global-nav {
  height: 60px;
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
  /*border-radius: 8px;*/

  background-image: #d41111;
  background-image: -webkit-linear-gradient(top, #520000 0%, #740000 2%, #a40000 100%);
  background-image: -moz-linear-gradient(top, #520000 0%, #740000 2%, #a40000 100%);
  background-image: -o-linear-gradient(top, #520000 0%, #740000 2%, #a40000 100%);
  background-image: linear-gradient(top, #520000 0%, #740000 2%, #a40000 100%);
  -webkit-box-shadow: 0 1px 3px #221919;
  -ms-box-shadow: 0 1px 3px #221919;
  box-shadow: 0 1px 3px #221919;
}
#global-nav ul {
  list-style: none;
  padding: 0;
  margin: auto;
  position: absolute;
  top: 5px;
}
#global-nav ul li {
  display: inline-block;
  width: 19%;
  text-align: center;
}
#global-nav ul li a:active,
#global-nav ul li a:link,
#global-nav ul li a:visited {
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  color: inherit;
  background-color: inherit;
}
.navbaro a:active,
.navbaro a:link,
.navbaro a:visited {
  padding: 0px 0px;
}
.navbaro a:active img,
.navbaro a:link img,
.navbaro a:visited img {
  height: 20px;
}
.feed {
  color: #d41111;
  font-size: 16px;
  padding-top: 60px;
}
.item-section {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #c5aa6a;
  padding-top: 15px;
  padding-bottom: 15px;
}
.item-section .user {
  height: 30px;
  position: relative;
  float: right;
  margin: 2px;
  display: inline-block;
}
.item-section .user .avatar {
  display: inline-block;
  max-height: 100%;
  float: right;
  margin-right: 2px;
  border-radius: 0.25em;
}
.item-section .user .username {
  display: inline-block;
  float: right;
  font-family: Arial, sans-serif;
  color: gray;
  font-weight: lighter;
  font-style: italic;
  font-size: 0.75em;
  margin: 2px;
}
.item-section .item-title {
  font-family: "Georgia", sans-serif;
  margin-left: 5px;
  font-size: 1.25em;
  line-height: 1em;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  color: #9a8a3d;
  padding-bottom: 5px;
}
.emote-section,
.topic-section {
  margin: 5px 5px 5px 15px ;
  padding-top: 5px;
  position: relative;
}
.emote-section .avatar {
  float: left;
  height: 30px;
  border-radius: 2em;
  display: inline-block;
}
.emote-section .emote {
  display: inline-block;
  font-family: Sorts Mill Goudy, comic, sans-serif;
  font-size: 1em;
  /*line-height: 16px;*/

  font-weight: bold;
  letter-spacing: -0.5px;
  font-style: normal;
  background-color: #ccffff;
  /* rgba(0,0,0,1) */

  margin: 2px 2px;
  padding: 10px 1px 0 1px;
  color: #d41111;
  /*border: 1px solid @EmoteTC;*/

  /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);*/

  /*.curvedbox;
.inset;*/

}
.topic-section {
  font-family: Sorts Mill Goudy, comic, sans-serif;
  font-size: 1em;
  font-weight: bolder;
  color: #d41111;
}
.topic-section .topic {
  display: inline-block;
  font-size: inherit;
  /*line-height: 16px;*/

  font-weight: bold;
  letter-spacing: -0.5px;
  font-style: normal;
  background-color: #dddddd;
  /* rgba(0,0,0,1) */

  margin: 2px 2px;
  padding: 10px 1px 0 1px;
  color: #454545;
  /*border: 1px solid @EmoteTC;*/

  /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);*/

  /*.curvedbox;
.inset;*/

}
.friends legend,
.settings legend {
  padding-bottom: 1.5em;
}
.friends legend a,
.settings legend a {
  display: inline-block;
  float: right;
}
.emote-howto,
.settings {
  margin-left: 10px;
  text-align: center;
}
.copywright {
  color: gray;
  font-family: arial;
  font-size: 0.8em;
  text-decoration: underline;
  /* border-top-style: solid; border-top-color: #ddd;*/
}
/* media queries */
/*  iPhone5, iPhone 4S, S3 --------------------------------  */
@media screen and (max-width: 890px) {
  /* 768px */
  .friends form,
  .settings form {
    width: 300px;
    margin: auto;
  }
  .friends legend,
  .settings legend {
    text-align: left;
    padding-top: 10px;
    margin-left: 10px;
    width: 300px;
  }
}
/*  iPad 3 1538x2048 --------------------------------  */
@media screen and (min-width: 900px) {
  .friends form,
  .settings form {
    width: 900px;
    margin: auto;
  }
  .friends legend,
  .settings legend {
    text-align: left;
    padding-top: 10px;
    margin-left: 10px;
    width: 900px;
  }
}
