@charset "UTF-8";

@ItemTC: #9a8a3d; /* gold #9a8a3d */
@EmoteTC: #d41111; /* maroon, #454545, #630215, #381212 OR active #f22626 */
@TopicTC: #454545;
@NavTC : #e5e6eb; /* silver */

@NavBgC: #5f4c4c; /* light brown */
@NavBgCActive: #4c3c3c; /* dark brown */
@EmoteBgC: #CFF; /* light blue #CFF   */
@TopicBgC: #ddd;
@FeedBgC: #fcf8e3; /* cream OR Grey #eee #fffefe #e7e7e7 #FFFAF7 */

@FeedBorderC: #c5aa6a; /* Gold OR Light Grey #d2d4dc */
@ItemsectionBorderC: #c5aa6a;
/*@EmoteBorderC: #d41111;
@TopicBorderC: #d41111;*/

@EmoteF: Sorts Mill Goudy, comic, sans-serif;
@TopicF: Sorts Mill Goudy, sans-serif;
@ItemF: "Georgia", sans-serif;
@NavF: Sorts Mill Goudy, sans-serif;
@UserF: Arial, sans-serif;

.gradient{
	background-image: rgba(112,181,242,0);
    background-image: -webkit-linear-gradient(top, #520000 0%,rgb(116,0,0) 2%,#a40000 100%);
    background-image: -moz-linear-gradient(top, #520000 0%,rgb(116,0,0) 2%,#a40000 100%);
    background-image: -o-linear-gradient(top, #520000 0%,rgb(116,0,0) 2%,#a40000 100%);
    background-image: linear-gradient(top, #520000 0%,rgb(116,0,0) 2%,#a40000 100%);
}

/*
.curvedbox{
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}

.inset{
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
*/

a:active,a:link,a:visited
{
text-decoration: none;
color: inherit;
}

#global-nav {
  height: 150px;
  width: 100%;
  /*border-radius: 8px;*/
  .gradient;

  ul {list-style: none; padding: 0; margin:0; margin-top: 40px;
  li {display: inline-block; width: 19%;
  text-align: center; 
    a:active,a:link,a:visited
        {
        text-decoration: none;
        display: inline-block;
        padding: 15px 15px;
        color: inherit;
        background-color: inherit;
        }
      }
      }
}

.navbaro {
    a:active,a:link,a:visited
    {
        padding: 0px 0px;
    img{
    height: 50px;
        }
    }
}

.feed	 {
background-color: @FeedBgC;
color: @EmoteTC;
font-size: 18px;
}


.emote-howto, .settings{
margin-left: 10px;
text-align: center;
}


.item-section{
border-bottom-style: solid;
border-width: 1px;
border-color: @ItemsectionBorderC;
padding-top: 30px;
padding-bottom: 30px;
}


.item-section .user{
float: right;
}

.item-section .user{ 
height: 60px;
position: relative;
}

.item-section .user .avatar{
display: inline-block;
max-height: 100%;  
float: right;
margin: 2px;
border-radius: 0.25em; 
}

.item-section .user .username{
display: inline-block;
float: right;
font-family: @UserF; 
color: gray; 
font-weight: lighter;
font-style: italic; 
font-size: 1.25em;
}

.item-section .item-title{
font-family: @ItemF;
margin-left: 5px; 
font-size: 2em;
line-height: 1em;
font-style: normal;
font-weight: bold;
font-variant: normal;
color: @ItemTC;
}

.emote-section, .topic-section 
{
margin: 5px 5px 5px 15px ;
padding-top: 15px;
}

.emote-section .avatar{
float: left;
height: 2em;
border-radius: 1em;
}

.emote-section .emote{
display: inline-block;
font-family: @EmoteF;
font-size: 1.5em;
/*line-height: 16px;*/
font-weight: bold;
letter-spacing: -0.5px;
font-style: normal;
background-color: @EmoteBgC; /* rgba(0,0,0,1) */
margin: 2px 2px;
padding: 10px 1px 0 1px;
color: @EmoteTC;
/*border: 1px solid @EmoteTC;*/
/*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);*/
/*.curvedbox;
.inset;*/
}

.topic-section {
 font-family: @EmoteF; 
 font-size: 1.5em;
 font-weight: bolder;
 color: @EmoteTC;
 vertical-align: middle;
}

.topic-section .topic{
display: inline-block;
font-family: @EmoteF;
font-size: inherit;
/*line-height: 16px;*/
font-weight: bold;
letter-spacing: -0.5px;
font-style: normal;
background-color: @TopicBgC; /* rgba(0,0,0,1) */
margin: 2px 2px;
padding: 10px 1px 0 1px;
color: @TopicTC;
/*border: 1px solid @EmoteTC;*/
/*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);*/
/*.curvedbox;
.inset;*/
}

.friends, .settings {
  legend a {
  display: inline-block;
  float: right;
}
}



.copywright{ color: gray; font-family: arial; font-size: 0.8em; text-decoration: underline;/* border-top-style: solid; border-top-color: #ddd;*/}


/* media queries */
/*  iPhone5, iPhone 4S, S3 --------------------------------  */
@media screen and (max-width: 890px){ /* 768px */
.friends, .settings {
  form {
  width: 400px;
  margin: auto;
}
}

.friends, .settings {
  legend {
  text-align: left;
  padding-top: 10px;
  margin-left: 10px;
  width: 400px;
}
}

}

/*  iPad 3 1538x2048 --------------------------------  */
@media screen and (min-width: 900px){

.friends, .settings {
  form {
  width: 900px;
  margin: auto;
}
}

.friends, .settings {
  legend {
  text-align: left;
  padding-top: 10px;
  margin-left: 10px;
  width: 900px;
}
}

}





